html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: #333;
}

#tsparticles {
    margin: 0 auto;
    width: 400px;
    height: 400px;
}

#print {
    width: 400px;
    height: auto;
    color: #fff;
    margin: 0 auto;
}